<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Inbound Popup Demo</title>
    <script src="js/main.js" type="text/javascript"></script>
    <script src="js/jquery-3.1.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body onload="init()">
  <script>
    const urlParams = new URLSearchParams(window.location.search);
    const phoneNumber = urlParams.get('phoneNumber');
    console.log(phoneNumber)
  </script>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/" class="navbar-brand"><b>Inbound</b> POPUP</a>
      </div>
    </div>
  </nav>
  <section id='content'>
    <div id='phone-number-info'>
      <div>Caller phone number info</div>
      <div>Caller number: <%- phoneNumberInfo.number %></div>
      <div>Level: <%- phoneNumberInfo.level %></div>
      <div>Score: <%- phoneNumberInfo.score %></div>
      <div>Recommendation: <%- phoneNumberInfo.recommendation %></div>
    </div>
  </section>
</body>
</html>
