<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>RC Embeddable Demo</title>
    <script src="js/main.js" type="text/javascript"></script>
    <script src="js/jquery-3.1.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script>
      function makeCall(number) {
        alert("call")
          document.querySelector("#rc-widget").contentWindow.postMessage({
                  type: 'rc-adapter-new-call',
                  phoneNumber: number,
                  toCall: true,
                  }, '*');
      }
    </script>
</head>
<body>
  <script>
    (function() {
      var rcs = document.createElement("script");
      //rcs.src = "https://ringcentral.github.io/ringcentral-embeddable/adapter.js?appServer=https://platform.devtest.ringcentral.com";
      //rcs.src = "https://ringcentral.github.io/ringcentral-embeddable/adapter.js?clientId=1E3rPbdVTf-9E20azmVwpg";
      rcs.src = "https://ringcentral.github.io/ringcentral-embeddable/adapter.js?defaultCallWith=browser";
      var rcs0 = document.getElementsByTagName("script")[0];
      rcs0.parentNode.insertBefore(rcs, rcs0);
    })();
  </script>
  <!--iframe width="300" height="500" id="rc-widget" allow="microphone" src="https://ringcentral.github.io/ringcentral-embeddable/app.html"></iframe -->
  <!--iframe width="300" height="500" allow="microphone" src="https://apps.ringcentral.com/integration/ringcentral-embeddable/1.0.3/app.html"></iframe -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/" class="navbar-brand"><b>Embeddable</b> Demo</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/url-scheme">Url Scheme</a></li>
      </ul>
    </div>
  </nav>

  <section id='content'>
    <div class='col-xs-12'>
      <div id='events'></div>
    </div>
  </section>
</body>
</html>
